<body>
    
        <% if @property.errors.any? %>
        <div class="error-message">
                <% @property.errors.full_messages.each do |error_message| %>
                <span class="error-text"><%=error_message%> </span>
            <% end %>
        <% end %>
        </div>
    </div>
<br>
        <h1>Add a new property</h1>
        <div class="margin">
        <%= render partial: "form", locals: {property: @property} %>
        </div>
    </div>
 <br>
</body>
