.form-auth {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 50px auto;
    .checkbox {
      font-weight: 400;
    }

    .form-group {
      margin-bottom: 15px;
    }
    
    .label-checkbox{
      padding-left: 15px;
  }
  
    .custom-control-input {
      position: relative;
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 14px;
    }
    .form-control:focus {
      z-index: 2;
    }
    input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    input[type="password"] {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    input[type='checkbox'] {
      width: 50px;
      height: 50px;
   }
  }